/**
 * @fileOverview Project styles
 *
 * @version 1.0
 * @author Andres Ramirez 
 */
/**================================================
 * 1. Base Styles
 * 2. Helpers
 */

html, body {
   height: 100%;
}

body {
  background: $color-white;
  border: 0;
  color: $color-white;
  font-size: 100%;
	font: inherit;
  margin: 0;
  padding: 0;
	vertical-align: baseline;
}

// Correct the inheritance and scaling of font size in all browsers.
// Correct the odd `em` font sizing in all browsers.
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/**================================================
 * 2. Helpers
 */
.hide {
  display: none;
}

.overlay {
  background-color: $color-trblack;
  display: none;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;

  &.show {
    display: block;
    opacity: 1;
  }
}

.base-title {
  position: relative;
  margin: 0;
  letter-spacing: -0.06em;
  color: $color-black;
  font: $headline-mobile;
  text-align: left;
  padding: 0 24px;
  margin: 50px 0;
  transition: transform 0.3s ease-in-out;

  @media #{$desktop} {
    bottom: auto;
    color: $color-white;
    font: $headline-tablet;
    left: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translate(-50%, -100%);
    transition: all 0.3s ease-in-out;
    text-align: center;
    top: 50%;
    width: 70%;
  }

   @media #{$lg-desktop} {
    font: $headline-desktop;
  }
}

