// Mobile First
.main-block {
  background-color: $color-magenta;
  z-index: 1;

  .hero-image {
    background: url('/images/background-image.jpg') 50% 0 no-repeat;
    background-size: cover;
    position: relative;
    height: 300px;
    transition: all 0.3s ease-in-out;
  } 
 
  .main-title {
    position: relative;
    margin: 0;
    letter-spacing: -0.06em;
    color: $color-black;
    font: 44px/48px 'HUGEAvantGardeBold', sans-serif;
    text-align: left;
    padding: 0 24px;
    margin: 50px 0;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-mobile {
    background-color: $color-magenta;
    height: 60px;
    position: relative;
    z-index: 1;
    
    @media only screen and (min-width: 768px) {
      height: 72px;
    }
  }

  .navbar-open {
    align-items: center;
    display: flex;
    height: 60px;
    flex-flow: row wrap;
    justify-content: space-between;
    right: 100%;
    position: absolute;
    transition: all .2s linear;
    top: 0;
    width: 100%;
    
    @media only screen and (min-width: 768px) {
      height: 72px;
      right: 0;
    }
  }

  .navbar-closed {
    transition: all .2s linear;
    
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  .nav-logo {
    background: url('/images/HUGE-white.png') 0 0 no-repeat;
    height: 20px;
    width: 50px;
    background-size: 50px;
    margin: 20px 20px 20px 24px;
    float: left;
    display: block;
    opacity: 1;
    text-indent: -9999px;
    transition: opacity 0.5s ease-in-out;
    
    @media only screen and (min-width: 768px) {
      background-size: 60px;
      height: 24px;
      display: block;
      margin: 24px 0 24px 24px;
      width: 60px;
    }
  }

  .navbar-toggle-open,
  .navbar-toggle-close {
    background: none;
    border: none;
    cursor: pointer;
    height: 60px;
    transition: all .3s linear;
    text-indent: -9000px;
    width: 60px;
    
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  .navbar-toggle-open {
    background: url('/images/toggle-open.svg') no-repeat; 
    background-position: center;
    margin-left: 4px;
  }
  
  .navbar-toggle-close {
    background: url('/images/toggle-close.svg') no-repeat;
    background-position: center;
    margin-right: 4px;
  }

  .main-nav {
    background: $color-white;
    height: calc(100% - 60px);
    position: absolute;
    left: -100%;
    top: 60px;
    transition: all .2s ease-in;
    width: calc(100% - 60px);
    z-index: 1;

    .main-nav-wrapper {
      background-color: $color-white;
      display: flex;
      color: $color-black;
      flex-flow: column nowrap;
      height: 100%;
      position: absolute;
      width: 100%;
      
      li {
        position: relative;
        
        a {
          color: $color-black;
          display: flex;
          flex-flow: row wrap;
          font: 21px/48px 'HUGEAvantGardeBold', sans-serif;
          justify-content: space-between;
          text-decoration: none;
          padding: 0 0 0 24px;
        }
         
        &:hover {
          background-color: $color-lightGray;
          a {
            color: $color-magenta;
            font-weight: bold;
          }
        }

        &.has-children {
          > a {
            &::after {
              align-self: center;
              content: " ";
              background: url('/images/arrow-down.svg') no-repeat;
              margin-right: 24px;
              transition: all .2s linear;
              height: 20px;
              width: 20px;
              
              @media only screen and (min-width: 768px) {
                display: none;
              }
            }
          }
          
          .submenu {
            background-color: $color-white;
            height: 0;
            min-height: 0;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: all .2s linear;

            li {
              a {
                font: 14px/30px 'Galaxie', serif;
                padding: 9px 0 9px 24px;               
              }
              
              &:hover {
                background-color: $color-lightGray;
                a {
                  color: $color-magenta;
                  font-weight: bold;
                }
              }
            } 
          }
          
          &.open {
             > a {
              &::after {
                transform: rotate(180deg);
              }
            }
            .submenu {
              min-height: 50px;
              max-height: 1000px;
              height: auto;
              overflow: hidden;
              opacity: 1;
            }
          }
        }
      }

      .footer {
        bottom: 0;
        font: 12px/16px 'Helvetica', regular;
        margin-top: auto;
        position: relative;
        padding: 24px 0 24px 24px;
        
        @media only screen and (min-width: 768px) {
          display: none;
        }
      }
      
      @media only screen and (min-width: 768px) {
         flex-flow: row nowrap;
      }
    }
    
    @media only screen and (min-width: 768px) {
      background-color: transparent;
      color: $color-white;
      height: auto;
      left: 122px;
      top: 0;
      width: auto;
      
      .main-nav-wrapper { 
        li {
          a {
            color: $color-white;
            line-height: 72px;
            padding: 0 24px;
          }

          &:hover {
            a {
              background-color: $color-white;
              color: $color-magenta;
            }
          }
          
          &.open {
            a {
              background-color: $color-white;
              color: $color-magenta;
            }
          }

          &.has-children {
            .submenu {
              background-color: $color-white;
              position: absolute;
              width: max-content;

              li {
                a {
                  line-height: 48px;
                  padding: 0 24px;
                  width: auto;
                }

                &:hover {
                  a {
                    background-color: $color-lightGray;
                    color: $color-magenta;
                    font-weight: bold;
                  }
                }
              } 
            }
          }          
        }
      }
    }
  }

  &.open {
    .navbar-open {
      transform: translateX(100%);
      @media only screen and (min-width: 768px) {
        transform: none;
      }
    }
    
    .navbar-closed {
      transform: translateX(-100%);
    }
    
    .main-nav {
      transform: translateX(calc(100% + 60px));
      
      @media only screen and (min-width: 768px) {
        transform: none;
      }
    }
  }
}

